/* HEADER */
a {
  text-decoration: none;
}

  header {
    position: relative;
    margin: auto;
    max-width: 380px;
    padding-top: 8px;
  }
  
  header img {
    margin-top: 8px;
    float: left;
    width: 22px;
  }
  
  .title {
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 1000;
    background: -webkit-linear-gradient(#F7D441, #A7CD40);
    -webkit-background-clip: text;
    background-clip:text;
    -webkit-text-fill-color: transparent;
    margin-left: 10.5%;
    margin-bottom: -1%;
  }
  
  .subtitle{
    font-size: 10px;
    font-weight: 400;
    color: darkgray;
    letter-spacing: 1pt;
    margin-left: 14%;
    margin-top: -2%;
  }

  .video {
      text-align: center;
      transition: 0.5s;
  }
    
  .vid-and-canvas {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;
      left: 0;
      right: 0;
      top: 10%;
      text-align: center;
  }

  #main-button-bar {
      position: absolute;
      margin: auto;
      left: 47%;
      bottom: 3%;
      text-align: center;
      position: absolute;
      display: flex;
      height: 97%;
      align-items: flex-end;
  }

  .main-btn-container {
    margin: 0% 100%;
  }

  .main-btn{
    color: gray;
  }

  .main-btn:hover {
    color: lightgray;
  }