.size {
  position: absolute;
  top: 0px;
  left: 0px;
}

.main-button{
  position: relative;
  z-index: 100;
}

#console-box {
  position: relative;
  padding: 5px;
  background-color: black;
  color: white;
}